<?xml version="1.0"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!--Igual ao Base Config -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ELMAH.Oracle" connectionString="Data Source=LUSQ.LUSITANIA;User ID=lus_elmah;Password=lusq" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Lusitania.Simuladores.DataLayer.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=LUSQ.LUSITANIA;PASSWORD=lpwsys;PERSIST SECURITY INFO=True;USER ID=viaweb" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes"/>
    <customErrors mode="Off" defaultRedirect="manut.htm" xdt:Transform="SetAttributes"/>
  </system.web>
  <appSettings>
    <!--settings para RGPD-->
    <add key="RGPD_url" value="https://outsystemsqual.lusitania-cs.pt/RGPD_CORE/rest/RGPD/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="NetworkCredential_user_RGPD" value="api_rgpd_qual" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="NetworkCredential_pass_RGPD" value="api_rgpd_qual" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    
    <add key="Ambiente" value="QUAL" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="OutputES.OutputServiceUrl" value="http://impressaoqual:8080/soap/services/OutputService?blob=base64" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DebugUserName" value="a0974700" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- User normal -->
    <!-- <add key="DebugUserName" value="jlima" /> -->
    <!-- Centro de Produção -->
    <!-- <add key="DebugUserName" value="lmjf" /> -->
    <!-- Gestor de Rede -->
    <add key="GestaoUnicaoRecibosUrl" value="https://outsystemsqual.lusitania-cs.pt/PM_Recibos/Redireciona.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LogShippingThreadSleepTimeInMinutes" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PerformanceMonitorBrokerBaseUrl" value="http://servicebusq.lusitania.pt/PerformanceMonitorBroker/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="GA_TRACKING_ENABLE" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="OsbBaseUrl" value="http://lisosbqlt:7003/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint address="https://servicebusq.lusitania.pt/Auxiliar/Servicos/WSAuxiliar.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWSAuxiliar"
        contract="Ws_auxiliar.IWSAuxiliar" name="WSHttpBinding_IWSAuxiliar">
      </endpoint>
      <endpoint address="https://servicebusq.lusitania.pt/Planos/servicos/WSPlanos.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWSAuxiliar"
        contract="WsPlanos.IWSPlanos" name="WSHttpBinding_IWSPlanos">
      </endpoint>
      <endpoint address="https://servicebusq.lusitania.pt/GeralPortais/Servicos/WSDocumentos.svc/WSDocumentos11.svc"
    binding="basicHttpBinding" bindingConfiguration="soap11" contract="WsDocumentos.IWSDocumentos"
    name="soap11" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Lusitania.Simuladores.WebSite.Properties.Settings>
      <setting name="Lusitania_Simuladores_WebSite_WSLUSNETConfig_Config"
       serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://servicebusq.lusitania.pt/WSLUSNET/Framework/Aplicacoes/Config.asmx</value>
      </setting>
    </Lusitania.Simuladores.WebSite.Properties.Settings>
  </applicationSettings>
</configuration>
