<?xml version="1.0"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!--Igual ao Base Config -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ELMAH.Oracle" connectionString="Data Source=LUSD.LUSITANIA;User ID=lus_elmah;Password=lus_elmah" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Lusitania.Simuladores.DataLayer.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=LUSQ.LUSITANIA;PASSWORD=lpwsys;PERSIST SECURITY INFO=True;USER ID=viaweb" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes"/>
    <customErrors mode="Off" defaultRedirect="manut.htm" xdt:Transform="SetAttributes"/>
  </system.web>
  <appSettings>
    <add key="Ambiente" value="DEV" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="OutputES.OutputServiceUrl" value="http://impressaodev:8080/soap/services/OutputService?blob=base64" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DebugUserName" value="a0974700" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- User normal -->
    <!-- <add key="DebugUserName" value="jlima" /> -->
    <!-- Centro de Produção -->
    <!-- <add key="DebugUserName" value="lmjf" /> -->
    <!-- Gestor de Rede -->
    <add key="GestaoUnicaoRecibosUrl" value="https://outsystemsdev.lusitania-cs.pt/PM_Recibos/Redireciona.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LogShippingThreadSleepTimeInMinutes" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PerformanceMonitorBrokerBaseUrl" value="http://servicebusq.lusitania.pt/PerformanceMonitorBroker/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="GA_TRACKING_ENABLE" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="OsbBaseUrl" value="http://lisosbint:7003/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
