<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lusitania.Simuladores.DataLayer.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=LUSQ.LUSITANIA;PASSWORD=lusq;PERSIST SECURITY INFO=True;USER ID=LUS_PLSQL" providerName="Oracle.DataAccess.Client"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
